@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  /* Colors */
  --text-dark: #333333;
  --text-light: #ffffff;
  --heading-dark: #413d4b;
  --turquoise: #00e0d0;

  /* Font-Families */
  --roboto: "Roboto", sans-serif;
  --playfair: 'Playfair Display', serif;
}

/* Reset Box sizing */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  /* padding: 0;
  margin: 0; */
}

body {
  color: var(--text-light);
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;

}

.text-dark {
  color: var(--text-dark);
}

/*
***************************** Header **************************/
/* navbar font Roboto */

header {
  padding-top: 1rem;
  height: 100vh;
  background-image: url('../images/bgk-header.png');
  background-size: cover;
  position: relative;
}
/********************************************************* NOTE
** Add offcanvas and make navbar responsive */

nav ul {
  list-style: none;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  /* padding: .5rem 0; */
  justify-content: center;
  height: 3rem;
  align-items: center;
  padding: 0;
}

nav ul li a#logo {
  color: var(--turquoise);
  font-size: 1.5rem;
  font-weight: 100;
}

nav ul li:nth-child(2) {
  margin-right: auto;
}

nav ul li a.nav-link {
  text-transform: uppercase;
}

nav ul li a, nav ul li a:visited {
  text-decoration: none;
  color: var(--text-light);
  padding: 0 1rem;
  position: relative;
}

nav ul li a:hover {
  color: var(--turquoise)
}

nav ul li a.nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--turquoise);
  opacity: 0;
  transition:  0.2s ease-in-out;
  transition-duration: 0.2s;
}
nav ul li a.nav-link:hover::before {
  width: 100%;
  opacity: 1;
}

@media only screen and (max-width: 880px) {
  nav {
    display: none;
  }
}

#hero-section {
  display: block;
  text-align: center;
  max-width: 43%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#hero-section .hero-heading {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

#hero-section .hero-secondary {
  display: block;
  line-height: 2rem
}

hr.separator {
  width: 3rem;
  height: .25px;
  border-color: var(--turquoise);
  margin: 1.5rem auto 2rem;
}

#hero-section button {
  color: var(--turquoise);
  background-color: transparent;
  border: 1px solid var(--turquoise);
  border-radius: .4rem;
  padding: .6rem .8rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: .8rem;
  transition: all 0.3s ease-out;
}

#hero-section button:hover {
  /* color: var(--text-light);
  border-color: var(--text-light); */
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-1px) scale(1.1);
}

/*
*********************** Our Story Section *********************/
#our-story-section {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#our-story-section h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

.our-story-img {
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  flex-basis: 40%;
  justify-items: center;
}

.our-story-text {
  font-size: 1rem;
  font-weight: 300;
  max-width: 55%;
  line-height: 1.5rem;
  padding: 2rem;
  flex-basis: 60%;
}

#our-story-section button {
  color: var(--turquoise);
  background-color: transparent;
  border: 1px solid var(--turquoise);
  border-radius: .4rem;
  padding: .6rem .8rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: .8rem;
  transition: all 0.3s ease-out;
}

#our-story-section button:hover {
  background-color: rgba(0, 224, 209, 0.1);
  transform: translateY(-1px) scale(1.1);
}

/*
************************* Watch Section ***********************/

#watch-section {
  padding-top: 1rem;
  height: 40rem;
  background-image: url('../images/bgk-middle.png');
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#watch-section figure {
  display: flex;
  flex-direction: column;
}

#watch-section figure a {
  display: flex;
  justify-content: center;
}

#watch-section figure figcaption {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 400;
}

/*
*********************** Expertise Section *********************/

#expertise-section {
  padding: 2rem 0;
}
#expertise-section h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  text-align: center;
}

#expertise-section p {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

#expertise-section .separator {
  border-color: #fff;
}

/* ==================== Expertise section - Media Queries */
@media only screen and (min-width: 1200px) {
  .card:nth-child(2),
  .card:nth-child(5) {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }

  .card:nth-child(1),
  .card:nth-child(2),
  .card:nth-child(3) {
    border-bottom: 1px solid #efefef;
  }
}

@media only screen and (max-width: 1200px) {
  .card {
    border: none;
  }
  .card:nth-child(1),
  .card:nth-child(3),
  .card:nth-child(5) {
    border-right: 1px solid #efefef;
  }

  .card:nth-child(1),
  .card:nth-child(2),
  .card:nth-child(3),
  .card:nth-child(4) {
    border-bottom: 1px solid #efefef;
  }
}

@media only screen and (max-width: 799px) {
  .card:nth-child(1),
  .card:nth-child(2),
  .card:nth-child(3),
  .card:nth-child(4),
  .card:nth-child(5) {
    border-bottom: 1px solid #efefef;
  }
}

#expertise-section .cards .card {
  color: var(--text-dark);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 2rem;
  height: 280px;
}

#expertise-section .cards .card p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  letter-spacing: 1px;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* changed from 400px */
  border: -1px solid transparent;
  align-items: center;
}

/*
************************* Team Section ************************/

#team {
  padding: 2rem 1rem;
  background-image: url("../images/bgk-team.png");
  background-size: cover;
  position: relative;

  /* display: flex; */

}
.section-heading {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  text-align: center;
}

.section-sub {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 1.5rem auto 2rem;
  letter-spacing: 1px;;
}

.text-secondary {
  text-align: center;
  font-weight: 200;
}

#team button {
  color: var(--turquoise);
  background-color: transparent;
  border: 1px solid var(--turquoise);
  border-radius: .4rem;
  padding: .6rem .8rem;
  margin: 2rem auto;
  text-transform: uppercase;
  font-size: .8rem;
  transition: all 0.3s ease-out;
  display: block;
}

#team button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-1px) scale(1.1);
  cursor: pointer;
}

#team .cards {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 3rem auto;
}

#team .card {
  display: flex;
  flex-direction: column;
  height: 350px;
  max-width: 250px;
  border: 1px solid #fafafa40;
  margin: .8rem;
}

#team .card img {
  height: 100%;
  background-color: #777;
}

.card-body {
  padding: 1rem;
}

.card-body p {
  text-transform: uppercase;
  text-align: center;
  line-height: .5rem;
  color: #fff;
}

p.position {
  font-size: .9rem;
  color: #fafafaa6;
  font-weight: 100;
}

#team .separator {
  border-color: #ffffff31;
}

/*
******************** Contact Client Section *******************/

/* #contact-client-section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
} */

#contact-client-section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* #contact-client-section div
 {
  width: 100%;
} */

/* .form-container,
.logo-container {
  padding: 2rem;
} */

.form-container,
.logo-container {
/*   width: 50%; */
  padding: 2rem;
  flex: 1 1 50%;
/*   min-width: 50%;
  overflow: none; */
}

/* #contact-client-section form {
  display: flex;
  flex-direction: column;
} */

/* .form-container form,
.logo-container .client-logos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 content-fit;
  max-height: 500px;
  min-width: 50%;
} */

/* #contact-client-section form label {
  display: hidden;
} */
.form-container form label {
  /*   visibility: hidden; */
    display: none;
  }

/* #contact-client-section form input,
#contact-client-section form textarea {
  width: 100%;
  padding: .8rem 1rem;
  border: 1px solid #efefef;
}

#contact-client-section form input::placeholder,
#contact-client-section form textarea::placeholder {
  font-family: var(--roboto);
  color: #c5c4c4;
} */

form input,
form textarea {
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border: 1px solid #efefef;
  font-family: var(--roboto);
}

form input::placeholder,
form textarea::placeholder {
  color: #c5c5c5;
}

form input:focus-visible,
form textarea:focus-visible {
  outline: 1px solid var(--turquoise);
}

#contact-client-section button {
  color: var(--turquoise);
  background-color: transparent;
  border: 1px solid var(--turquoise);
  border-radius: .4rem;
  padding: .6rem .8rem;
  margin: 2rem auto 2rem 0;
  text-transform: uppercase;
  font-size: .8rem;
  transition: all 0.3s ease-out;
  display: block;
}

#contact-client-section button:hover {
  background-color: rgba(0, 224, 209, 0.1);
  transform: translateY(-1px) scale(1.1);
}

/************ Media Queries - contact-client-section */

@media only screen and (min-width: 800px)  {

  #contact-client-section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .form-container,
.logo-container {
  padding: 2rem;
  flex: 1 1 50%;
}

  #contact-client-section .client-logos {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: fit-content;
  }

  #contact-client-section h3 {
    text-align:left;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }

  #contact-client-section form {
    padding-right: 2rem;
  }

  .form-container form,
.logo-container .client-logos {
  display: flex;
  flex-direction: column;
  flex: 1 1 content-fit;
  min-width: 100%;
}

  .client-logos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 450px;
    padding: .5rem 1rem 1rem 0;
}

  .client-logos img {
    max-width: 8rem;
    height: 100%;
    margin-bottom: 2.8rem;
    flex: 1 1 192px 64px;
  }
}

@media only screen and (max-width: 799px) {
  .client-logos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    padding: 0;
}

.form-container,
.logo-container {
  padding: 2rem;
  flex: 1 1 10%;
  min-width: 100%;
}

.form-container form,
.logo-container .client-logos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 content-fit;
  min-width: 50%;
}

.logo-container img {
  max-width: 25%;
  height: auto;
  margin: .5rem;
  align-self: center;

}

}




/*
**************************** Footer ***************************/
